@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900&display=swap&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');

:root {
  height: 100%;
  font-family: 'Raleway', sans-serif;
  color: var(--text-over-background);
  background-color: var(--background);
}

body {
  margin: 0;
  height: 100%;
}

#root {
  position: relative;
  width: 100vw;
  height: 100%;
}

.invisible {
  opacity: 0;
}
.visible {
  opacity: 1;
}

::selection {
  color: var(--secondary);
  background-color: var(--primary);
}

.overlay {
  z-index: 100;
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  background-color: var(--overlay-background);

  .overlayForeground {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: var(--book-background);
  }
  // color: var();
}

.fileOverlay {
  transition: .4s ease;
  border: 10px dashed var(--secondary);
  box-sizing: border-box;
  pointer-events: none;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text-over-primary);
}

.topLeft {
  position: absolute;
  top: 0;
  left: 0;
}
.topRight {
  position: absolute;
  top: 0;
  right: 0;
}
.bottomLeft {
  position: absolute;
  bottom: 0;
  left: 0;
}
.bottomRight {
  position: absolute;
  bottom: 0;
  right: 0;
}

button {
  appearance: none;
  -webkit-appearance: none;
  font: inherit;
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
  counter-reset: listCounter;
}

.menuLink {
  position: relative;
  z-index: 3;

  display: inline-flex;
  justify-content: start;
  align-items: center;
  color: #888;
  text-decoration: none;

  margin-left: 25px;
  &:first-child {
    margin-left: 0;
  }

  cursor: pointer;

  .text {
    position: relative;
    font-size: 0.8rem;
  }

  .text::after {
    content: '';
    transition: .2s ease;
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--primary);
  }
  &:hover .text::after {
    width: 100%;
  }

  img {
    --icon-size: 16px;
    display: block;
    width: var(--icon-size);
    height: var(--icon-size);
    background-position: center;
    background-size: cover;
    margin-right: 5px;
    filter: invert(0.5);
  }
}

.colorChooser {
  background: linear-gradient(90deg,
    hsl(000, 100%, 50%),
    hsl(060, 100%, 50%),
    hsl(120, 100%, 50%),
    hsl(180, 100%, 50%),
    hsl(240, 100%, 50%),
    hsl(300, 100%, 50%),
    hsl(360, 100%, 50%),
  );
  color: transparent;
  user-select: none;

  .colorPreview {
    position: absolute;
    height: 100%;
    width: 5px;
    top: 0;
    pointer-events: none;

    &::after {
      content: '';
      position: absolute;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background-color: var(--primary);
      left: 50%;
      bottom: 0;
      transform: translate(-50%, 100%) rotate(90deg);
      mask-image: url(../img/arrow.svg);
      -webkit-mask-image: url(../img/arrow.svg);
    }
  }
}

.plate {
  padding: 10px;
  display: block;
  text-align: center;
  box-sizing: border-box;
}

.mainPage {
  position: absolute;
  width: 100%;
  height: 100%;

  .links {
    position: absolute;
    width: calc(100% - 36px);
    height: calc(100% - 36px);
    margin: 18px;
    box-sizing: border-box;
  }

  h1 {
    text-align: center;
    margin-top: 30vh;
    font-weight: 700;
    font-size: 2.5rem;
    position: relative;
    @media screen and (max-width: 639px) {
      margin-top: 10vh;
    }

    &::after {
      content: '';
      display: block;
      width: 150px;
      height: 2px;
      background-color: var(--primary);
      position: absolute;
      bottom: -50%;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  transition: 0.5s ease;
  background-color: var(--primary);
  .foreground {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--background);
    // clip-path: circle(130% at 0 0);
  }
  &.isLoading .foreground {
    clip-path: circle(0% at 0 0);
  }

  .menus {
    position: absolute;
    bottom: 30vh;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .menu {
      position: relative;
      width: 320px;
      height: 120px;
    }

    .subtitle {
      font-size: 0.8rem;
      display: block;
      text-align: center;
    }

    .content {
      position: absolute;
      width: 90%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  label {
    font-size: 1rem;
    color: var(--text-over-primary);
    background-color: var(--primary);
    cursor: pointer;
  }

  input {
    display: none;
  }
}

.overlayMenu {
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  h2 {
    text-align: center;
    font-size: 2rem;
    margin-top: 0;
  }

  .closeButton {
    position: relative;
    width: 40px;
    height: 40px;
    margin-top: 15px;
    // border: 1px solid var(--text-over-primary);
    border-radius: 50%;
    cursor: pointer;
    left: 50%;
    transform: translateX(-50%);

    &::before, &::after {
      content: '';
      width: 80%;
      height: 2px;
      background-color: var(--text-over-background);
      position: absolute;
      top: 50%;
      left: 50%;
    }
    &::before {
      transform: translate(-50%, -50%) rotate(45deg);
    }
    &::after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
}

.listItem {
  position: relative;
  margin-bottom: 40px;
  font-size: 1rem;

  // &::before {
  //   content: '';
  //   position: absolute;
  //   width: 80%;
  //   height: 1px;
  //   top: -10px;
  //   left: 50%;
  //   transform: translateX(-50%);
  //   background-color: var(--text-over-primary);
  // }

  .name {
    &::before {
      content: counter(listCounter) '.';
      counter-increment: listCounter;
      position: relative;
      left: 0;
      margin-right: 5px;
    }

    margin-bottom: 10px;
    display: block;
  }
}

.switch {
  input {
    display: none;
  }

  .switchGraphic {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    width: 40px;
    height: 16px;
    border: 2px solid var(--secondary);
    border-radius: 8px;
    background-color: var(--contrast);

    &::before {
      content: '';
      transition: .2s margin;
      position: absolute;
      width: 12px;
      height: 12px;
      background-color: var(--primary);
      border-radius: 50%;
      top: 50%;
      transform: translateY(-50%);
    }

    &.off::before {
      margin-left: 2px;
    }
    &.on::before {
      margin-left: 26px;
    }
  }

  .text {
    font-size: .8rem;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin-left: 15px;
  }
}

.numberInput {
  label {
    display: flex;
    justify-content: start;
    align-items: center;
  }

  input, button {
    display: inline-block;
    position: relative;
    border: 2px solid var(--secondary);
    background-color: var(--contrast);
    color: white;
    text-align: center;
  }

  input {
    height: 16px;
    width: 40px;
    border-radius: 8px;

    &:focus {
      outline: none;
    }
  }

  button {
    height: 20px;
    width: 20px;
    margin-left: 10px;
    border-radius: 50%;

    &::after {
      position: absolute;
      cursor: pointer;
      left: 50%;
      transform: translate(-50%);
      font-size: 20px;
    }
    &.plus::after {
      content: '+';
      top: -25%;
    }
    &.minus::after {
      content: '-';
      top: -30%;
    }
  }

  .text {
    font-size: .8rem;
    display: inline-block;
    // vertical-align: middle;
    position: relative;
    margin-left: 15px;
  }
}

.repeatList {
  width: 100%;
  height: 100%;

  h2 {
    margin-top: 40px;
  }

  .list {
    width: 400px;
    height: 60vh;
    overflow-y: scroll;
    margin: auto;
  }

  .closeButton {
    &::before, &::after {
      background-color: var(--text-over-background);
    }
  }
}

.repeatListItem {
  max-height: 500px;
  transition: max-height .2s;
  margin: 10px;
  padding: 10px;
  box-shadow: 0 0 10px 0 #0003;
  background-color: var(--background);

  .wordContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .translationContainer {

  }

  .word {
    width: 100%;
    margin-right: 5px;
    position: relative;

    &::before {
      content: '';
      width: 16px;
      height: 16px;
      background-image: url(../img/edit.svg);
      position: absolute;
      left: 5px;
      top: 50%;
      transform: translateY(-55%);
      background-size: contain;
      pointer-events: none;
      filter: invert(0.5)
    }

    input {
      padding: 5px;
      padding-left: 24px;
      display: block;
      width: 100%;
      box-sizing: border-box;
      border: none;
      background-color: var(--background);
      color: var(--text-over-background);

      &:focus {
        outline: 1px solid var(--text-over-background);
        outline-offset: 0;
      }
    }
  }

  .removeButton {
    display: block;
    width: 20px;
    height: 20px;
    position: relative;
    cursor: pointer;

    transition: .2s transform;
    &:hover {
      transform: scale(1.2);
    }

    &::before, &::after {
      content: '';
      width: 80%;
      height: 2px;
      background-color: var(--text-over-background);
      position: absolute;
      top: 50%;
      left: 50%;
    }
    &::before {
      transform: translate(-50%, -50%) rotate(45deg);
    }
    &::after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }

  }
}

.settings {
  .colorChooser {
    // border: 1.5px solid var(--contrast);
    border-radius: 10px;
  }
}

.help {
  .helpText {
    margin: 0 10px;
    font-size: 0.8rem;
  }
}

.bookUI {
  width: 100%;
  height: 100%;
  padding: 60px 100px 80px;
  box-sizing: border-box;
  overflow: hidden;
  background-color: var(--book-background);

  .menuLink {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: 0;
  }

  &:focus {
    outline: none;
  }

  @media screen and (max-width: 719px) {
    padding: 40px 40px 80px;
  }

  .pageButton {
    position: absolute;
    width: 100px;
    height: 100%;
    top: 0;
    cursor: pointer;
    transition: .2s ease;
    transition-property: opacity;

    @media screen and (max-width: 719px) {
      width: 50%;
      opacity: 0;
    }

    &.inactive {
      opacity: 0;
      cursor: auto;
    }

    &::after {
      content: '';
      position: absolute;
      width: 50px;
      height: 50px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: .2s;
      mask-image: url(../img/arrow.svg);
      -webkit-mask-image: url(../img/arrow.svg);
    }
    &.active::after {
      background-color: #ccc;
    }
    &.active:hover::after {
      background-color: var(--primary);
    }
  }

  .prevButton {
    left: 0px;
  }
  .nextButton {
    right: 0px;
    transform: scaleX(-1);
  }

  .pageCounter {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    color: #777;
    font-size: 0.8rem;
  }
}

.bookMenu {
  li {
    position: relative;
    margin-top: 15px;
    .menuLink {
      position: relative;
      top: 0;
      transform: translateX(-50%);
      img {
        filter: invert(0.5);
        --icon-size: 24px;
      }
      .text {
        font-size: 1.2rem;
      }
    }
  }
}

.selectionPopup {
  position: absolute;
  transform: translate(-50%, -100%);
  background-color: var(--background);
  padding: 18px;
  width: 250px;
  box-shadow: 0 0 8px 0 #0008;

  .word {
    position: relative;

    input {
      font: inherit;
      background-color: var(--background);
      color: var(--text-over-background);
      font-weight: 700;
      border: none;
      padding: 5px;
      padding-right: 24px;
      padding-left: 0;
      box-sizing: border-box;
      width: 100%;
      &:focus {
        outline: 1px solid var(--text-over-background);
        outline-offset: 0;
      }
    }

    &::after {
      content: '';
      width: 16px;
      height: 16px;
      background-image: url(../img/edit.svg);
      position: absolute;
      right: 5px;
      top: 50%;
      transform: translateY(-50%);
      background-size: contain;
      pointer-events: none;
      filter: invert(0.5)
    }
  }

  .buttons {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;

    .button {
      cursor: pointer;
      display: inline-block;
      box-sizing: border-box;
      text-align: center;
      padding: 5px 15px;
      background-color: var(--primary);
      color: var(--text-over-primary);
    }
  }
}

.translation {
  word-wrap: break-word;
  margin-top: 10px;

  .placeholder {
    color: #0003;
    &::after {
      content: 'Loading...';
    }
  }
}

.bookTextWrapper {
  column-count: 2;
  column-gap: 40px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 1rem;
  @media screen and (max-width: 1279px) {
    column-count: 1;
  }
}

p {
  margin: 0 0 20px;
}

[xmltagname="subtitle"] {
  margin: 40px 0 30px;
}

img {
  display: block;
  max-height: calc(100vh - 120px);
  margin: 0 auto;
  user-select: none;
  -webkit-user-drag: none;
}

[xmltagname="poem"] {
  margin: 50px 100px;
}
