@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900&display=swap&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');

:root {
  height: 100%;
  font-family: 'Raleway', sans-serif;
}

body {
  margin: 0;
  height: 100%;
}

#root {
  position: relative;
  width: 100vw;
  height: 100%;
}

.invisible {
  opacity: 0;
}
.visible {
  opacity: 1;
}

::selection {
  color: var(--theme-secondary);
  background-color: var(--theme-primary);
}

.overlay {
  z-index: 100;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: var(--theme-primary);
  color: var(--theme-text);
}

.fileOverlay {
  transition: .4s ease;
  border: 10px dashed var(--theme-secondary);
  box-sizing: border-box;
  pointer-events: none;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

.topLeft {
  position: absolute;
  top: 0;
  left: 0;
}
.topRight {
  position: absolute;
  top: 0;
  right: 0;
}
.bottomLeft {
  position: absolute;
  bottom: 0;
  left: 0;
}
.bottomRight {
  position: absolute;
  bottom: 0;
  right: 0;
}

button {
  appearance: none;
  -webkit-appearance: none;
  font: inherit;
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
}

.menuLink {
  position: relative;
  z-index: 3;

  display: inline-flex;
  justify-content: start;
  align-items: center;
  color: #888;
  text-decoration: none;

  margin-left: 25px;
  &:first-child {
    margin-left: 0;
  }

  cursor: pointer;

  .text {
    position: relative;
  }

  .text::after {
    content: '';
    transition: .2s ease;
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--theme-primary);
  }
  &:hover .text::after {
    width: 100%;
  }

  img {
    --icon-size: 16px;
    display: block;
    width: var(--icon-size);
    height: var(--icon-size);
    background-position: center;
    background-size: cover;
    margin-right: 5px;
  }
}

.mainPage {
  position: absolute;
  width: 100%;
  height: 100%;

  .links {
    position: absolute;
    width: calc(100% - 36px);
    height: calc(100% - 36px);
    margin: 18px;
    box-sizing: border-box;
  }

  h1 {
    text-align: center;
    margin-top: 30vh;
    font-weight: 700;
    font-size: 48px;
    position: relative;
    @media screen and (max-width: 639px) {
      margin-top: 10vh;
    }

    &::after {
      content: '';
      display: block;
      width: 150px;
      height: 2px;
      background-color: var(--theme-primary);
      position: absolute;
      bottom: -50%;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  transition: 0.5s ease;
  background-color: var(--theme-primary);
  .foreground {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    // clip-path: circle(130% at 0 0);
  }
  &.isLoading .foreground {
    clip-path: circle(0% at 0 0);
  }

  .menus {
    position: absolute;
    bottom: 30vh;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .menu {
      position: relative;
      width: 320px;
      height: 120px;
    }

    .subtitle {
      display: block;
      text-align: center;
    }
  }

  .plate {
    padding: 10px;
    display: block;
    text-align: center;
    position: absolute;
    box-sizing: border-box;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  label {
    font-size: 20px;
    color: var(--theme-text);
    background-color: var(--theme-primary);
    cursor: pointer;
  }

  .colorChooser {
    background: linear-gradient(90deg, hsl(0, 100%, 50%), hsl(60, 100%, 50%), hsl(120, 100%, 50%), hsl(180, 100%, 50%), hsl(240, 100%, 50%), hsl(300, 100%, 50%), hsl(360, 100%, 50%));
    color: transparent;
    user-select: none;
  }

  .colorPreview {
    position: absolute;
    height: 100%;
    width: 5px;
    top: 0;
    pointer-events: none;

    &::after {
      content: '';
      position: absolute;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background-color: var(--theme-primary);
      left: 50%;
      bottom: 0;
      transform: translate(-50%, 100%) rotate(90deg);
      mask-image: url(../img/arrow.svg);
      -webkit-mask-image: url(../img/arrow.svg);
    }
  }

  input {
    display: none;
  }
}

.bookUI {
  width: 100%;
  height: 100%;
  padding: 40px 100px 80px;
  box-sizing: border-box;
  overflow: hidden;

  @media screen and (max-width: 719px) {
    padding: 40px 40px 80px;
  }

  .pageButton {
    position: absolute;
    width: 100px;
    height: 100%;
    top: 0;
    cursor: pointer;
    transition: .2s ease;
    transition-property: opacity;

    @media screen and (max-width: 719px) {
      width: 50%;
      opacity: 0;
    }

    &.inactive {
      opacity: 0;
      cursor: auto;
    }

    &::after {
      content: '';
      position: absolute;
      width: 50px;
      height: 50px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: .2s;
      mask-image: url(../img/arrow.svg);
      -webkit-mask-image: url(../img/arrow.svg);
    }
    &.active::after {
      background-color: #ccc;
    }
    &.active:hover::after {
      background-color: var(--theme-primary);
    }
  }

  .prevButton {
    left: 0px;
  }
  .nextButton {
    right: 0px;
    transform: scaleX(-1);
  }

  .pageCounter {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    color: #777;
  }
}

.selectionPopup {
  position: absolute;
  transform: translate(-50%, -100%);
  background-color: #fff;
  padding: 18px;
  width: 250px;
  box-shadow: 0 0 8px 0 #0005;

  .word {
    position: relative;

    input {
      font: inherit;
      font-weight: 700;
      border: none;
      padding: 5px;
      padding-right: 24px;
      box-sizing: border-box;
      width: 100%;
      &:focus {
        outline: 1px solid #0005;
      }
    }

    &::after {
      content: '';
      width: 16px;
      height: 16px;
      background-image: url(../img/edit.svg);
      position: absolute;
      right: 5px;
      top: 50%;
      transform: translateY(-50%);
      background-size: contain;
      pointer-events: none;
      filter: invert(0.5)
    }
  }

  .translation {
    word-wrap: break-word;
    margin-top: 10px;

    .placeholder {
      color: #0003;
      &::after {
        content: 'Loading...';
      }
    }
  }

  .buttons {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;

    .button {
      cursor: pointer;
      display: inline-block;
      box-sizing: border-box;
      text-align: center;
      padding: 5px 15px;
      background-color: var(--theme-primary);
      color: var(--theme-text);
    }
  }
}

.bookTextWrapper {
  column-count: 2;
  column-gap: 40px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 20px;
  @media screen and (max-width: 1279px) {
    column-count: 1;
  }
}

p {
  margin: 0 0 20px;
}

[xmltagname="subtitle"] {
  margin: 40px 0 30px;
}

img {
  display: block;
  max-height: calc(100vh - 120px);
  margin: 0 auto;
  user-select: none;
  -webkit-user-drag: none;
}

[xmltagname="poem"] {
  margin: 50px 100px;
}
